.bg-video{
    object-position:100% 30%;
    object-fit: cover;
    width: 100vw;
    height: 40vh;
}

.globalproduct {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8rem;
    margin-top: 8rem;
}

.product1{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product2{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product3{
    display: flex;
    align-items: center;
    justify-content: center;
}
.product4{
    display: flex;
    align-items: center;
    justify-content: center;
}